@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 12px;
    font-family: 'Roboto',  sans-serif;
}

:root {
    --dark-gray:#242424;
    --Charcoal:#464447;
    --light-grey: #F6F6F6;
    --grey: #666666;
    --orange-peel: #F79F1F;
    --forest-green: #1A9359;
    --deep-green: #008572;
    --steel-blue: #1A899A;
    --padding-standard: 0 4%;
    background-color: var(--dark-gray);
}

body{
    margin: 0; 
}

#root {
    margin: 0 auto;
    text-align: center;
}

.text-x-small {
    font-size: 0.70rem;
}

.text-small {
    font-size: 0.8rem;
}

.text-root-size{
 font-size: 1rem;
}
.text-medium {
    font-size: 1.35rem;
}

.text-large {
    font-size: 2rem;
}

.text-x-large {
    font-size: 2.7rem;
}

.text-xx-large {
    font-size: 3.34rem;
}
.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform:lowercase;
}

.text-color-white {
    color: #ffffff;
}

.text-color-black {
    color: #000000;
}

.text-color-grey {
    color: var(--grey);
}

.text-color-orange-peel {
    color: var(--orange-peel);
}

.backgroud-color-transparent {
    background-color: transparent;
  }

.background-color-dark-gray {
    background-color: var(--dark-gray);
}

.background-color-Charcoal {
    background-color: var(--Charcoal);
}

.background-color-deep-green {
    background-color: var(--deep-green);
}

.background-color-forest-green {
    background-color: var(--forest-green);
}

.background-color-steel-blue {
    background-color: var(--steel-blue);
}

.border-radius {
     border-radius: 9px;
}