@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
}

body{
    /*background-color: black;*/
    background: url('placeholder_BG.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    /*
    backdrop-filter: blur(5px);
    */
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100;

    /*
    background: url('images/placeholder_BG.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    */
}

.form-box{
    position: relative;
    width: 420px;
    height: 470px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    /*
    backdrop-filter: blur(30px);
    */
    display:flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

h3{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;    
}

input:focus{
    outline: none;
    border-color: red;
    box-shadow: 0 0 3px red;
    -moz-box-shadow: 0 0 3px red;
    -webkit-box-shadow: 0 0 3px red;
  }

.inputbox{
    position:relative;
    margin:30px;
    width: 310px;
    border: 1.8px solid #fff;
    border-radius: 8px;
    outline: none;
}

.inputbox label{
    position: absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size:.9em;
    pointer-events:none;
    transition: .5s;
    
}
input:focus ~ label,
input:valid ~ label{
top: 0;
font-size: .8em;
background-color: black;
color: cyan;
padding: 0 12px
}

.inputbox label::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 12px;
    height:12px;
    background:transparent;
    border-left:1.8px solid cyan;
    border-bottom: 1.8px solid cyan;
    transform:rotate(45deg);
    opacity: 0;
}

.inputbox label::after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width: 12px;
    height:12px;
    background:transparent;
    border-right:1.8px solid cyan;
    border-top: 1.8px solid cyan;
    transform:rotate(45deg);
    opacity: 0;
    transition: .5s;
}

.inputbox input:focus~label::before,
.inputbox input:valid~label::before,
.inputbox input:focus~label::after,
.inputbox input:valid~label::after{
    top:1px;
    opacity:1;
}

.inputbox input:focus,
.inputbox input:valid{
    border: 1.8px solid cyan;
}

.inputbox input{
    width: 100%;
    height: 50%;
    background: transparent;
    border:none;
    outline: line;
    font-size:1em;
    padding:0 35px 0 5px;
    color:#fff;
}

.inputbox ion-icon{
    position:absolute;
    left: -22px;
    color:#fff;
    font-size: 1.2em;
    top:2px;
}

.forget{
    margin: -15px 0 15px ;
    font-size:.9em;
    
    text-align: center;
    position:relative;
    /**/
    margin-left: 100px;
    color:#fff;
    display:flex;
    justify-content: space-between;
}

.forget label input{
    margin-right:3px;
}

.forget label a{
    color: #fff;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

.forget label span {
    display: block;
}


button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color .1s ease-out 100ms;
}
button:hover{
    background-color:antiquewhite;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 15px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.follow-us{
    font-size: .9em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 95%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    max-width: 800px;

}
.follow-us span {
    display: block;
}

.follow-us a i{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-left: 1px;
    cursor: pointer;
    transition: .5s ease;
}

.follow-us a:hover i{
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    .form-box{
        width: 330px;
        height: 400px;
    }

    h2{
        font-size: 1.2em;
        margin-top: 10px;
    }
    h3{
        font-size: 1em;
        margin-bottom: 20px;
    }

    .inputbox{
        margin: 20px 0px 20px 0px;
        width: 200px;
        font-size: .8em;
    }
    .inputbox label{
        font-size:.9em;
    }
    
    .forget{
        font-size: .6em;
        left: 25%;
        margin: 5px 0px 5px 0px;
    }

    button{
        height: 25px;
        font-size: .7em;
        margin: 15px 0px 5px 0px;
        
    }

    .register{
        font-size: .6em;
        margin-top: 5px;
    }
  }