@import url("../../css-global/index.css");

.container {
    height: 56px;
    padding: var(--padding-standard);
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}