.game-card {
  border-radius: 6px;
  overflow: hidden;

  margin-bottom: 20px;
  cursor: pointer;
}

.game-card,
.game-card-image {
  width: 10.5rem;
}

.game-card:hover .overlay {
  opacity: 1;
}

.game-card:hover {
  background-color: #e5f9ff1f;
  transition: 0.1s ease;
}

.game-card:hover .game-card-category {
  transform: translateY(0%);
}

.game-card-image-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.1s ease;
  background-color: #e5f9ff1f;
}

.game-card-category {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
  font-size: 12px;
  text-align: center;
}

.game-card-name {
  margin: 10px 0 2px 8px;
  line-height: 18px;
}

.game-card-description {
  color: #d6d0d0;
  font-size: 12px;
  margin-left: 8px;
}
